@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Arimo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
    margin: 0;
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 100%
        ),
        url("background.jpg");
}

.menu {
    width: 100vw;
    height: 10vh;
}

.boxContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.box {
    width: 350px;
    height: 430px;
    margin: 30px;
    border: 5px solid black;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.boxText {
    text-align: center;
    font-family: "Teko", sans-serif;
    font-weight: bolder;
    letter-spacing: 2.5px;
    font-size: 55px;
    color: red;
}

.boxMenu {
    position: fixed;
    z-index: 100;
    width: 350px;
    height: 430px;
    border: 5px solid red;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.boxMenu1 {
    left: 40px;
}

.boxMenu2 {
    left: 460px;
}

.boxMenu3 {
    left: 880px;
}

.boxText2 {
    text-align: center;
    font-family: "Teko", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 40px;
    color: white;
    margin: 0;
}
.boxText3 {
    font-size: 30px;
    margin-bottom: 0;
    z-index: 80;
}

.numberDays {
    border-radius: 5px;
    border: transparent;
    height: 35px;
    width: 45px;
    font-family: "Teko", sans-serif;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 30px;
    margin-left: 5px;
    padding-left: 5px;
    margin-right: 5px;
}

.buttonGo {
    width: 56px;
    height: 36px;
    background: black;
    color: red;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 26px;
    border-radius: 5px;
    border: transparent;
    padding: 0;
    margin-right: 25px;
    align-self: flex-end;
    margin-top: 100px;
}

.buttonGo2 {
    margin-top: 145px;
}

.resultsContainer {
    margin: 0;
    background: #6c0107;
    width: 100vw;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.itemContainer {
    position: relative;
    width: 350px;
    height: auto;
    min-height: 560px;
    max-height: 570px;
    border: transparent;
    background: black;
    border-radius: 10px;
    margin: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemFront {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemPoster {
    background: pink;
    width: auto;
    max-width: 260px;
    height: auto;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.itemDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #fff4f4;
    font-family: "Arimo", sans-serif;
    border: transparent;
}

.itemDescription2 {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.itemDescription3 {
    margin: 5px;
}

.itemTitle {
    font-family: "Rubik Mono One", sans-serif;
    font-size: 22px;
    margin: 0px;
    margin-top: 20px;
}

.itemTypeRuntime {
    margin-left: 10px;
    margin-right: 10px;
}

.itemBack {
    background: wheat;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popContainer  {
    position: relative;
    width: 196px;
}

.popAndRating {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.popcorn {
    width: 196px;
    height: auto;
}

/* .popcornOverlay {
    width: 100%;
} */

.rating {
    font-family: "Acme", sans-serif;
    font-size: 32px;
}

.backDescription {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    width: 84%;
}

.watchButton {
    height: 42px;
    width: 83px;
    background: red;
    color: white;
    font-family: "Teko", sans-serif;
    font-size: 36px;
    letter-spacing: 1px;
    padding: 5px;
    margin: 0;
    border: transparent;
    border-radius: 8px;
    text-align: center;
    margin-right: 23px;
    margin-top: 15px;
    align-self: flex-end;
}
